#hero {
  height: 850px;
  background-image: url("ocean.jpg"); 
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-content {
  background-color: rgba(0,0,0,0.6);
  padding: 50px 100px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

#hero-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  margin: 0;
}

#hero-content p {
  margin: 15px 0 30px;
}

#hero-content a {
  background-color: yellow;
  padding: 14px 28px;
  border-radius: 6px;
  font-weight: bold;
  color: black;
}


#highlights {
  background-color: #c7e2e6;
  padding: 60px;
  text-align: center;
}

#highlights h2 {
  margin: 0 0 40px;
}

#destinations {
  display: flex;
  justify-content: space-around;
}

.destination img {
  width: 250px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.destination p {
  margin-top: 15px;
  font-size: 14px;
}

footer {
  background-color: black;
  padding: 25px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 15px;
}

footer img {
  width: 30px;
}